@font-face {
  font-family: "Omori-Font";
  src: url('/media/fonts/OMORI_GAME2.ttf');
}

body {
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

#back{
    background-image: url('/media/image/dark_whitespace_backdrop.jpg'); 
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    border-radius: 0 0 50px 50px;
    z-index: 0;
    transition: all 0.7s;
}

header:hover #back {
    filter: blur(3px);
}

header{
    position: relative;
    box-sizing: border-box;
    background-color: var(--dark);
    user-select: none;
    border-radius: 0 0 50px 50px;
    margin: 0;
    top: 0;
    padding: 0 20rem 0 20rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
#content{
    text-shadow: var(--white) 2px 2px 20px;
    color: var(--white);
    z-index: 1;
}
body h1{
    margin: 0;

    font-family: "Omori-Font";
    font-size: 6rem;
}

:root {
  --white: #ffffff;
  --dark-50: rgba(0, 0, 0, 0.7);
  --dark: #000000;
}

body[data-theme='dark'] {
  --white: #000000;
  --dark-50: rgba(255, 255, 255, 0.8);
  --dark: rgba(255, 255, 255, 1);
}

body{
    position: relative;
    background-image: url('/media/image/headspace_purple_backdrop.png');
    background-size: auto;
    background-color: var(--white);
    color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
}
ol li {
    margin: 0;
    list-style-type: none;
}
body a{
    color: var(--dark);
}
body a:hover{
    color: var(--dark-50);
}