@import url(https://db.onlinewebfonts.com/c/41cdafd19e156a1f74759f9c88b878ff?family=Google+Sans+Text+Regular);

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Omori-Font";
    src: url('/media/fonts/OMORI_GAME2.ttf');
}

:root {
    --white: #ffffff;
    --white-30: rgba(255, 255, 255, 0.3);
    --dark-50: rgba(0, 0, 0, 0.7);
    --dark: #000000;
    --primary-bg: #ffffff; 
    --primary-text: #000000; 
    --link-hover: rgba(0, 0, 0, 0.7);
    --header-bg-img: url('/media/image/background/dark_whitespace_backdrop.jpg');
    --body-bg-img: url('/media/image/background/blackspace_background.png');
    --header-text-shadow: 2px 2px 20px #ffffff;
}

body[data-theme='dark'] {
    --white: #000000;
    --white-30: rgba(0, 0, 0, 0.7);
    --dark-50: rgba(255, 255, 255, 0.8);
    --dark: #ffffff; 
    --primary-bg: #1a1a1a; 
    --primary-text: #ffffff; 
    --link-hover: rgba(255, 255, 255, 0.8);
    --header-text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

/* Estilos Gerais do Body */
body {
    font-family: "Google Sans Text Regular"; 
    background-color: var(--primary-bg);
    background-image: var(--body-bg-img);
    background-size: contain; 
    background-position: center;
    background-attachment: fixed; 
    color: var(--primary-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease; 
    padding-top: 0; 
}

.omori-font-text {
    font-family: "Omori-Font";
    font-size: 2.3rem;
    color: var(--primary-text);
}

.content {
    text-align: start;
    font-size: 1.3rem;
}

header {
    box-shadow: 0 0 50px black;
    position: relative; 
    width: 100%;
    height: 15dvh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    border-radius: 0 0 30px 30px;
    overflow: hidden; 
    margin-bottom: 2rem; 
}

#goBack {
    position: fixed;
    left: 20px;
    bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0.5rem 1rem;
    color: var(--primary-text);
    backdrop-filter: blur(10px);
    background-color: var(--white-30);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    z-index: 9999;
}

#background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--header-bg-img);
    background-position: center;
    z-index: 0; 
    transition: filter 0.3s ease-in-out; 
}

#content {
    position: relative; 
    z-index: 1;
    color: var(--white); 
    text-shadow: var(--header-text-shadow);
    padding: 2rem;
}

#content h1 {
    font-family: "Omori-Font"; 
    font-size: 6rem;
    line-height: 1;
    margin: 0;
}

nav {
    position: relative; 
    display: flex;
    justify-content: flex-start;
    min-width: fit-content;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: transparent;
}

nav ul {
    list-style-type: none; 
    align-items: center;
    justify-content: center;
    color: var(--primary-text);
    display: flex;
    gap: 2rem; 
    font-size: 1.5rem;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-text);
    font-size: 1.5rem; 
    transition: color 0.2s ease;
}

nav ul li a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

/* Estilos do Main */
main {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    background-color: var(--white-30);
    backdrop-filter: blur(20px);
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    text-align: center;
    max-width: 80vw;
    box-shadow: rgba(204, 209, 255, 0.25);
    transition: 300ms;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 900px) {
    .pages {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 600px) {
    header {
        height: 13dvh;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        list-style-type: decimal; 
        font-size: 1.2rem; 
        gap: 1rem;
    }
    nav {
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: fit-content;
    }
}